#not-found-header {
    min-height: 360px;
    background-image: url('../../assets/images/Empty_Cinema.jpg');
    background-size: contain;
    filter: blur(2px);
    filter: grayscale(88%);
    opacity: 0.6;
}
#not-found-screen {
    height: 100%;
    background-color: #D3D3D3;
    padding-top: 24px;
    padding-bottom: 64px;
}
#not-found-screen h1 {
    text-align: center;
    font-size: 12em;
    font-weight: bold;
    letter-spacing: 2px;
    color: #939393;
    padding-bottom: 16px;
}
#not-found-screen h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 4em;
    font-weight: bold;
    color: #636363;
    padding-bottom: 20px;
}
#not-found-screen p {
    text-align: center;
    font-size: 2em;
    letter-spacing: 1px;
    color: #939393;
    padding-bottom: 8px;
}