<nav class="navbar navbar-inverse navbar-toggleable-md bg-primary navbar-fixed-top">
  <div class="collapse navbar-collapse show">
    <div id="navigation" class="row">
      <div class="col-sm-2">
        <div class="nav-controller">
          <a routerLink='/'>
            Home
          </a>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="nav-controller">
          <a routerLink="/movies">
            Movie Explorer
          </a>
        </div>
      </div>
      <div class="col-sm-4">
        <form>
          <input id="search" type="search" name="search" placeholder="Search" #searchMovie (keyup.enter)="getMovies(searchMovie.value)"
            (blur)="getMovies(searchMovie.value); searchMovie.value = '' ">
        </form>
      </div>
      <div *ngIf="!auth.currentUser" class="col-sm-2">
        <button class="btn sign-button" (click)="signinModal.show()">Sign In</button>
      </div>
      <div *ngIf="!auth.currentUser" class="col-sm-2">
        <button class="btn sign-button" (click)="signupModal.show()">Sign Up</button>
      </div>
      <div *ngIf="auth.currentUser" class="col-sm-2">
        <h5>Welcome,
          <span>{{auth.currentUserDisplayName}}</span>
        </h5>
      </div>
      <div *ngIf="auth.currentUser" class="col-sm-2">
        <button class="btn sign-button" (click)="logout()">Sign Out</button>
      </div>
    </div>
  </div>
</nav>
<app-signin #signinModal></app-signin>
<app-signup #signupModal></app-signup>