/* Navigation: */

#navigation {
    padding-top: 12px;
    padding-bottom: 16px;
    color: #E4F0ED;
    background-image: url("../../assets/images/ZenBG1.png"), url("../../assets/images/ZenBG2.png");
    background-repeat: repeat-x, repeat;
}
div.nav-controller {
    width: 84%;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(150, 150, 150, 0.4);
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 1.2em;
    letter-spacing: 1px;
    border-radius: 4px;
}
div.nav-controller a {
    display: block;
    color: #E4F0ED;
    text-align: center;
}
div.nav-controller a:active, div.nav-controller a:visited, div.nav-controller a:link {
    text-decoration: none;
}
div.nav-controller a:hover {
    text-decoration: none;
}
#search {
    display: block;
    color: #101010;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding: 6px 4px 4px 4px;
    border-radius: 4px;
}
#search:focus {
    outline: none;
}
#search::-moz-placeholder {
    color: #666666;
}
#search:focus::-moz-placeholder { 
    color:transparent; 
}
#search::-webkit-input-placeholder {
    color: #666666;
    opacity: 0.6;
}
#search:focus::-webkit-input-placeholder { 
    color:transparent;
    background-color: #FFFFFF;
}

button.sign-button {
    width: 80%;
    background-color: rgba(150, 150, 150, 0.4);
    color: #E4F0ED;
    font-size: 1.2em;
    letter-spacing: 1px;
    padding-top: 2px;
    transition: all 1.2s ease-in-out;
}
button.sign-button:focus {
    outline: none;
}
button.sign-button:hover {
    width: 84%;
    background-color: rgba(200, 200, 200, 0.6);
    color: #F53F1A;
}

/* On smaller screens: */

@media (max-width: 1186px) {
    div.nav-controller, button.sign-button { 
        font-size: 1em;
    }
    button.sign-button {
        width: 88%;
        padding-top: 6px;
    }
    button.sign-button:hover {
        width: 92%;
    }

}

@media (max-width: 768px) {
    #navigation {
        padding-top: 4px;
        padding-bottom: 4px;
    }
    nav.navbar-default {
        background-color: transparent;
        border-bottom: none;
    }
    #search {
        width: 100%;
    }
    div.nav-controller { 
        text-align: center;
        margin-bottom: 12px;
        padding-bottom: 6px;
        border-bottom: 1px dashed #101010;
    }
}
