<nav class="navbar navbar-inverse navbar-toggleable-md bg-primary navbar-fixed-top">
  <div class="collapse navbar-collapse show">
    <div id="navigation" class="row">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink='/'>
            Home
          </a>
        </li>
        <li class="nav-item">
          <form>
            <input id="search" type="search" name="search" placeholder="Search">
          </form>
        </li>
      </ul>
      <div class="nav-right nav-menu">
        <div *ngIf="!auth.currentUser">
          <button class="btn btn-danger" (click)="signinModal.show()">Sign In</button>
          <button class="btn btn-danger" (click)="signupModal.show()">Sign Up</button>
        </div>
        <div *ngIf="auth.currentUser">
          <h4>Welcome {{ auth.currentUserDisplayName }}</h4>
          <button class="btn btn-danger" (click)="logout()">Sign Out</button>
        </div>
      </div>
    </div>
  </div>
</nav>

<app-signin #signinModal></app-signin>
<app-signup #signupModal></app-signup>