<nav class="navbar navbar-inverse navbar-toggleable-md bg-primary navbar-fixed-top">
  <div class="collapse navbar-collapse show">
    <div id="navigation" class="row">
      <div class="col-sm-2 nav-controller">
        <a routerLink='/'>
            Home
          </a>
      </div>
      <div class="col-sm-2 nav-controller">
        <a routerLink="/movies">Explore movies</a>
      </div>
      <div class="col-sm-4">
        <form>
          <input id="search" type="search" name="search" placeholder="Search" #searchMovie (keyup.enter)="getMovies(searchMovie.value)"
            (blur)="getMovies(searchMovie.value); searchMovie.value = '' ">
        </form>
      </div>
      <div *ngIf="!auth.currentUser" class="nav-right nav-menu col-sm-4">
        <button class="btn btn-danger" (click)="signinModal.show()">Sign In</button>
        <button class="btn btn-danger" (click)="signupModal.show()">Sign Up</button>
      </div>
      <div *ngIf="auth.currentUser" class="nav-right nav-menu col-sm-4">
        <div class="row">
          <div class="col-sm-6">
            <a routerLink='/profile'>Welcome {{ auth.currentUserDisplayName }}</a>
          </div>
          <div class="col-sm-6">
            <button class="btn btn-danger" (click)="logout()">Sign Out</button></div>
        </div>
      </div>
      <app-signin></app-signin>
      <app-signup></app-signup>
    </div>
  </div>
</nav>

<app-signin #signinModal></app-signin>
<app-signup #signupModal></app-signup>