<div id="about-header">
  <div class="picture-text">
    <span>{{title}}</span>
  </div>
</div>
<div id="about-title">
  <h1>
    The Jagged Zebras Team:
  </h1>
</div>
<div id="about-info" class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <div class="info-box">
        <img src="https://telerikacademy.com/Content/Avatars/887/41887_8587641c_180x180.jpg">
        <h2>Alexander Ikonomov</h2>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="info-box">
        <img src="https://telerikacademy.com/Content/Avatars/299/42299_f06b9bcc_180x180.jpg">
        <h2>Dimitar Pelev</h2>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="info-box">
        <img src="../../assets/images/Yuri.jpg">
        <h2>Yuri Ivanov</h2>
      </div>
    </div>
  </div>
</div>