<div id="movie-container" class="container-fluid">
  <div class="row" *ngIf="showPagination">
    <div class="col-sm-12 show-pagination">
      <ngb-pagination (pageChange)="setPagination($event); this.scrollToTop()" [collectionSize]="this.collSize" [(page)]="page" aria-label="Default pagination"
        [pageSize]="this.numberOfMoviesToShow">
      </ngb-pagination>
    </div>
  </div>
  <div class="row match-my-cols">
    <div class="col-sm-4 movie-con" *ngFor="let currentMovie of movies">
      <app-movie-thumbnail [movie]="currentMovie"></app-movie-thumbnail>
    </div>
  </div>
  <div class="row" *ngIf="this.showMoreButton">
    <div class="col-sm-12">
      <div class="show-more-controller">
        <a (click)="this.loadMore(); this.scrollToTop()">
            Show More
        </a>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="showPagination">
    <div class="col-sm-12 show-pagination">
      <ngb-pagination (pageChange)="setPagination($event); this.scrollToTop()" [collectionSize]="this.collSize" [(page)]="page" aria-label="Default pagination"
        [pageSize]="this.numberOfMoviesToShow">
      </ngb-pagination>
    </div>
  </div>
</div>