#movie-container {
    background-color: #D3D3D3;
}
div.movie-con {
    padding: 20px;
}
div.movie-con img {
    border-radius: 4px;
}
div.show-pagination {
    text-align: center;
    margin-bottom: 24px;
}
.row.match-my-cols {
    display: flex;
    flex-wrap: wrap; 
}

.row.match-my-cols [class*="col-"]{
    display: flex;
    flex-direction: column;
}
ngb-pagination /deep/ .page-link {
    background-color: #606060;
    color: #101010;
}
ngb-pagination /deep/ .page-item.active .page-link {
    background-color: #E4F0ED;
    color: #101010;
}
ngb-pagination /deep/ .page-link:hover {
    background-color: #E4F0ED;
    color: #F53F1A;
}
div.show-more-controller {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(150, 150, 150, 0.4);
    padding-top: 6px;
    padding-bottom: 12px;
    font-size: 1.2em;
    letter-spacing: 1px;
    border-radius: 4px;
    transition: all 1.2s ease-in-out;
    border: 1px dotted #101010;
}
div.show-more-controller:hover {
    width: 64%;
    background-color: rgba(200, 200, 200, 0.6);
}
div.show-more-controller a {
    display: block;
    color: #E4F0ED;
    text-align: center;
    transition: all 1.2s ease-in-out;
}

div.show-more-controller:hover a {
    color: #F53F1A;
    cursor: pointer;
}
div.show-more-controller a:active, div.show-more-controller a:visited, div.show-more-controller a:link {
    text-decoration: none;
}
div.show-more-controller a:hover {
    text-decoration: none;
}


@media (max-width: 1186px) {
    div.show-more-controller { 
        font-size: 1em;
    }
}

@media (max-width: 768px) {
    div.show-more-controller { 
        text-align: center;
        margin-bottom: 12px;
        padding-bottom: 6px;
        border-bottom: 1px dashed #101010;
    }
}
