div, h1, p {
    margin: 0;
    padding: 0;
}
#screen-header {
    position: relative;
    min-height: 360px;
    background-size: 25%;
    background-repeat: repeat;
    filter: blur(2px);
    filter: grayscale(88%);
    opacity: 0.6;
    transition: all 1.2s ease-in-out;
}
#screen-header:hover {
    filter: blur(0px);
    filter: grayscale(8%);
    opacity: 0.8;
}
div.picture-text {
    position:absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    letter-spacing: 8px;
    text-transform: uppercase;
}
div.picture-text span {
    display: inline-block;
    padding: 20px;
    background-color: #404040;
    color: #FFFFFF;
}
#main-section {
    height: auto;
    background-color: #D3D3D3;
}
#main-section h1 {
    text-align: center;
    margin-bottom: 24px;
    padding-top: 24px;
    font-size: 2em;
    letter-spacing: 4px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #666666;
}
#main-section p {
    text-align: center;
    margin-right: 24px;
    margin-left: 24px;
    padding-top: 24px;
    padding-bottom: 72px;
    border-top: 1px dotted #101010;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#main-screen {
    background-color: #D3D3D3;
    padding-top: 24px;
    padding-bottom: 48px;
}
#screen {
    display: block;
    width: 600px;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    border: 6px double #000000;
    box-shadow: 10px 10px 14px #202020;
}
h3 {
    font-size: 1em;
    font-weight: bold;
    margin-right: 24px;
    padding-bottom: 12px;
    border-bottom: 1px dotted #202020;
}
h3 span {
    font-weight: normal;
}
div.add-to-favourites {
    width: 84%;
    margin-top: 24px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(150, 150, 150, 0.4);
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 1.2em;
    letter-spacing: 1px;
    border-radius: 4px;
    transition: all 1.2s ease-in-out;
}
div.add-to-favourites:hover {
    width: 88%;
    background-color: rgba(200, 200, 200, 0.6);
    cursor: pointer;
}
div.add-to-favourites a {
    display: block;
    color: #E4F0ED;
    text-align: center;
    transition: all 1.2s ease-in-out;
}
div.add-to-favourites:hover a {
    color: #F53F1A;
}
div.add-to-favourites a:active, div.add-to-favourites a:visited, div.add-to-favourites a:link {
    text-decoration: none;
}
div.add-to-favourites a:hover {
    text-decoration: none;
}

/* On smaller screens: */

@media (max-width: 642px) {
    #screen {
        width: 480px;
        height: 320px;
    }
}
@media (max-width: 502px) {
    #screen {
        width: 360px;
        height: 240px;
    }
}

@media (max-width: 1186px) {
    div.add-to-favourites { 
        font-size: 1em;
    }
}
@media (max-width: 1012px) {
    div.add-to-favourites {
        width: 92%;
        font-size: 0.9em;
        background-color: transparent;
    }
    div.add-to-favourites:hover {
        width: 96%;
    }
}
@media (max-width: 884px) {
     div.add-to-favourites {
         font-size: 0.8em;
     }
    div.add-to-favourites:hover {
        background-color: transparent;
    }
}