<div id="screen-header" [ngStyle]="{'background-image': 'url(' + backgroundUrl +')'}">
  <div class="picture-text">
    <span>{{movie.title}}</span>
  </div>
</div>
<section id="main-section">
  <h1>{{movie.title}}</h1>
  <p>{{movie.overview}}</p>
</section>
<div id="main-screen" class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <iframe id="screen" allowfullscreen [src]="youtubeUrl | safepipe"></iframe>
    </div>
    <div class="col-sm-6">
      <h3>
        Genres:
        <span *ngFor="let genre of movie.genres; let i = index">{{genre.name}}<span *ngIf="i !== movie.genres.length - 1">, </span></span>
      </h3>
      <h3>
        Popularity:
        <span>{{movie.popularity}}</span>
      </h3>
      <h3>
        Status:
        <span>{{movie.status}}</span>
      </h3>
      <div class="add-to-favourites" *ngIf="auth.currentUser" (click)="addToFavourites(movie)">
        <a>
           Add to favourites
          </a>
      </div>
    </div>
  </div>
</div>