#explorer-header {
    position: relative;
    min-height: 400px;
}
#explorer-header:after {
    content:'';
    background-image: url('../../../assets/images/Cinema.jpg');
    background-size: contain;
    width: 100%;
    height: 100%;
    position:absolute;
    top:0;
    left:0;
    filter: blur(2px);
    filter: grayscale(88%);
    opacity: 0.6;
    z-index: -1;
}
div.picture-text {
    position:absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    letter-spacing: 8px;
    text-transform: uppercase;
}
div.picture-text span {
    display: inline-block;
    padding: 20px;
    background-color: #404040;
    color: #FFFFFF;
}

/* On smaller screens: */

@media (max-width: 705px) {
    div.picture-text {
        font-size: 1.2em;
        top: 25%;
    }
}

@media (max-width: 502px) {
    div.picture-text {
        font-size: 1em;
    }
}
