<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div id="navigation" class="row">
      <div class="col-sm-2 nav-controller"><a routerLink="/">Home</a></div>
      <div class="col-sm-6">
        <form>
          <input id="search" type="search" name="search" placeholder="Search">
        </form>
      </div>
      <div class="col-sm-2 nav-controller">
        <span>Sign In</span>
        <div class="dropdown-content dropdown-content-left">
          <h3>If you already have an account with us, please sign in here!</h3>
          <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
            <label for="user">Please, select your username:</label>
            <input id="user" type="text" formControlName="name" placeholder="Username">
            <div class="alert" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">
              Username should be between 4 and 30 symbols long!
            </div>
            <label for="pass">Please, choose a password:</label>
            <input id ="pass" type="password" formControlName="password" placeholder="Password">
            <div class="alert" *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">
              Password should be between 6 and 30 symbols long!
            </div>
            <button class="button" type="submit" [disabled]="!rForm.valid">Sign In</button>
          </form>
        </div>
      </div>
      <div class="col-sm-2 nav-controller">
        <span>Sign Up</span>
        <div class="dropdown-content dropdown-content-right">
          <h3>If you are new on this page, please sign up here!</h3>
          <form>
            <label for="username">Username*</label>
            <input id="username" type="text" placeholder="Username">
            <label for="password">Password*</label>
            <input id="password" type="password" placeholder="Password">
            <button class="button" type="button">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="parallax first-pic" style="background-image: url('../assets/images/Movie_Camera.jpeg')">
  <div class="picture-text">
    <a routerLink="/" class="ptext">{{title}}</a>
  </div>
</div>
<section id="main-section">
  <h1>Some Title</h1>
  <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, laudantium, quibusdam? Nobis, delectus, commodi, fugit amet tempora facere dolores nisi facilis consequatur, odio hic. Perferendis eos earum praesentium, blanditiis sapiente labore aliquam ipsa architecto vitae. Minima soluta temporibus voluptates inventore commodi cumque esse suscipit optio aliquam et, dolorem a cupiditate nihil fuga laboriosam fugiat placeat dignissimos! Unde eveniet placeat quisquam blanditiis voluptatem doloremque fugiat dolor repellendus ratione in.
  </p>
</section>
<router-outlet></router-outlet>
<div class="parallax second-pic" style="background-image: url('../assets/images/Night_City.jpg')">
</div>
<section id="down-section">
  <h1>Some Title</h1>
  <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, laudantium, quibusdam? Nobis, delectus, commodi, fugit amet tempora facere dolores nisi facilis consequatur, odio hic. Perferendis eos earum praesentium, blanditiis sapiente labore aliquam ipsa architecto vitae. Minima soluta temporibus voluptates inventore commodi cumque esse suscipit optio aliquam et, dolorem a cupiditate nihil fuga laboriosam fugiat placeat dignissimos! Unde eveniet placeat quisquam blanditiis voluptatem doloremque fugiat dolor repellendus ratione in.
  </p>
</section>
<section id="about-section">
  <div class="window" style="background-image: url('../assets/images/Hulk.png')">
    <div class="window-title">
      <a class="btn btn-primary hidden-btn" routerLink="/about">About Us</a>
    </div>
  </div>
</section>


