div.fb-profile {
    position: relative;
    width: 100%;
    min-height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    filter: blur(2px);
    filter: grayscale(88%);
    opacity: 0.8;
}
div.fb-profile-container {
    position: fixed;
    top: 80px;
    left: 40px;
    width: 36%; 
    height: 320px;
    font-size: 1em;
    z-index: 9;
    background-color: #FFFFFF;
    border: 2px double #909090;
    border-radius: 4px;
    overflow: auto;
    box-shadow: 8px 8px 8px #C0C0C0;
}
div.fb-profile-container-hidden {
    display: hidden;
}
div.x-button {
    position: absolute;
    top: 8px;
    right: 8px;
    color: #C0C0C0;
    font-size: 1.2em;
    font-weight: bold;
}
div.x-button:hover {
    color: #101010;
    cursor: pointer;
}
img.fb-image-profile {
    width: 44%;
    margin-top: 12px;
    margin-left: 12px;
    float: left;
}
#username {
    width: 52%;
    float: left;
    padding-left: 12px;
    font-size: 1.6em;
}

/* On smaller screens: */

@media (max-width:1420px) {
    div.fb-profile-container {
        width: 40%;
        font-size: 0.8em;
    }
}
@media (max-width:1142px) {
    div.fb-profile-container {
        width: 48%;
        font-size: 0.6em;
    }
}
@media (max-width:768px) {
    div.fb-profile-container {
        top: 80px;
        width: 82%;
        left: 32px;
        font-size: 0.8em;
    }
}
@media (max-width:648px) {
    div.fb-profile-container {
        width: 88%;
        font-size: 0.6em;
    }
}