div.fb-profile {
    position: relative;
    width: 100%;
    min-height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    filter: blur(2px);
    filter: grayscale(88%);
    opacity: 0.8;
}
div.fb-profile-container
{
    position: fixed;
    top: 80px;
    left: 40px;
    width: 36%; 
    height: 40%;
    z-index: 9;
    background-color: #FFFFFF;
    border: 2px double #909090;
    border-radius: 4px;
    overflow: auto;
    box-shadow: 8px 8px 8px #C0C0C0;
}
img.fb-image-profile {
    width: 44%;
    margin-top: 12px;
    margin-left: 12px;
    float: left;
}
#username {
    width: 52%;
    float: left;
    padding-left: 12px;
    font-size: 1.6em;
}

@media (max-width:768px)
{
    .fb-profile-text>h1{
        font-weight: 700;
        font-size:16px;
    }

    .fb-image-profile
    {
        margin: -45px 10px 0px 25px;
        z-index: 9;
        width: 192px; 
        height: 192px; 
    }
}