.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;
    min-height: 600px;
    max-height:600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
}

.fb-image-profile
{
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 192px; 
    height: 192px;
}

@media (max-width:768px)
{
    .fb-profile-text>h1{
        font-weight: 700;
        font-size:16px;
    }

    .fb-image-profile
    {
        margin: -45px 10px 0px 25px;
        z-index: 9;
        width: 192px; 
        height: 192px; 
    }
}