<div class="parallax first-pic" style="background-image: url('../../assets/images/Movie_Camera.jpeg')">
  <div class="picture-text">
    <a routerLink="/" class="ptext">{{title}}</a>
  </div>
</div>
<section id="main-section">
  <h1>Website Description</h1>
  <p>
    Website for browsing movie trailers. Search for movies or discover ones you haven't watched.
  </p>
</section>

<app-movie-grid [numberOfMoviesToShow]="9" [showPagination]='false' [imageRotation]='true' [scrollOffset]='100'>
</app-movie-grid>

<div class="parallax second-pic" style="background-image: url('./../../assets/images/Night_City.jpg')">
</div>
<section id="down-section">
  <h1>Project Description</h1>
  <p>
    This website was for a project in Telerik Academy Angular course. 
    The task was to create a Single Page App using Angular with a public and a privete part (Registered users area).
  </p>
</section>