<div class="parallax first-pic" style="background-image: url('./../../assets/images/Movie_Camera.jpeg')">
  <div class="picture-text">
    <a routerLink="/" class="ptext">{{title}}</a>
  </div>
</div>
<section id="main-section">
  <h1>Some Title</h1>
  <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, laudantium, quibusdam? Nobis, delectus, commodi, fugit amet tempora facere dolores nisi facilis consequatur, odio hic. Perferendis eos earum praesentium, blanditiis sapiente labore aliquam ipsa architecto vitae. Minima soluta temporibus voluptates inventore commodi cumque esse suscipit optio aliquam et, dolorem a cupiditate nihil fuga laboriosam fugiat placeat dignissimos! Unde eveniet placeat quisquam blanditiis voluptatem doloremque fugiat dolor repellendus ratione in.
  </p>
</section>

<app-movie-grid></app-movie-grid>

<div class="parallax second-pic" style="background-image: url('./../../assets/images/Night_City.jpg')">
</div>
<section id="down-section">
  <h1>Some Title</h1>
  <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, laudantium, quibusdam? Nobis, delectus, commodi, fugit amet tempora facere dolores nisi facilis consequatur, odio hic. Perferendis eos earum praesentium, blanditiis sapiente labore aliquam ipsa architecto vitae. Minima soluta temporibus voluptates inventore commodi cumque esse suscipit optio aliquam et, dolorem a cupiditate nihil fuga laboriosam fugiat placeat dignissimos! Unde eveniet placeat quisquam blanditiis voluptatem doloremque fugiat dolor repellendus ratione in.
  </p>
</section>